@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.main-container {
  margin-top: 10rem;
}

.gallery {
  & > div {
    position: relative;
    & > a {
      position: absolute;
      z-index: 99999;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      & > img {
        width: 1.8rem;
        object-fit: contain;
      }
    }

    &:hover {
      & > a {
        opacity: 1;
      }
    }
  }
}
.load-more__btn {
  // margin-bottom: 6em;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgba(0, 48, 135, 0.9);
  padding: 0.4rem 0.9rem;
  color: rgba(0, 48, 135, 0.9);
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  &:hover {
    color: white;
    background-color: rgba(0, 48, 135, 0.9);
  }
}
