.upload-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Image/MainImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 50rem;
  position: fixed;
  z-index: -1;

  @media screen and (max-width: 500px) {
    padding-left: 2rem;
  }
  @media screen and (max-width: 500px) {
    padding-left: 1rem;
  }
  &__form-control {
    display: flex;
    align-items: center;
  }

  &__container {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    padding: 4em;
    background-color: white;
    border-radius: 10px;
    margin-top: 5em;
  }
  &__title {
    font-size: 2.5rem;
    // color: rgb(44, 43, 43);
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: rgba(0, 48, 135, 0.9);
  }

  &__selects {
    width: 24rem;
    margin-bottom: 2rem;
  }
  &__form-control-form {
    // margin-top: 1.5rem;
  }
  &__preview-upload {
    margin-left: 2.5rem;
  }
  &__btn {
    width: fit-content;
    margin-top: 3.5rem;
    display: block;
    padding: 0.8rem 2.5rem;
    background-color: none;
    background-color: rgba(0, 48, 135, 0.9);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    letter-spacing: 0.1rem;
    border: none;
    font-family: "Poppins";
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 48, 135, 1);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      font-weight: 500;
      background-color: gray;

      &:hover {
        background-color: gray;
      }
    }
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #f2f2f2;
  display: inline-block;
  padding: 15px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > span {
    margin-left: 0.5rem;
    font-weight: 600;
  }
}

.upload-page__form-label {
  margin-bottom: 1rem;
}

.search-page {
  // margin-top: 7rem;
  &__search-box {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    // position: fixed;
    justify-self: center;
    flex-grow: 1;
    padding: 1rem 1rem;
    // z-index: 99;
    background-color: white;
    & > a {
      justify-self: flex-start;
      margin-right: 7rem;
      & > img {
        width: 8.5rem;
        object-fit: contain;
      }
    }
  }

  &__center-container {
    // height: 70vh;
    // margin-top: 10rem;
    z-index: -1;
    border-top: 1px solid #f1f1f1;
  }
}
