.upload-page {
  margin-top: 6rem;
  height: 85vh;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 500px) {
    padding-left: 2rem;
  }
  @media screen and (max-width: 500px) {
    padding-left: 1rem;
  }
  &__form-control {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 2.5rem;
    color: rgb(44, 43, 43);
    margin-bottom: 4rem;
  }

  &__selects {
    width: 24rem;
    margin-bottom: 2rem;
  }
  &__form-control-form {
    // margin-top: 1.5rem;
  }
  &__preview-upload {
    margin-left: 2.5rem;
  }
  &__btn {
    width: fit-content;
    margin-top: 1.5rem;
    display: block;
    padding: 0.8rem 2.5rem;
    background-color: none;
    background-color: rgba(0, 48, 135, 0.9);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    letter-spacing: 0.1rem;
    border: none;
    font-family: "Poppins";
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 48, 135, 1);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      font-weight: 500;
      background-color: gray;

      &:hover {
        background-color: gray;
      }
    }
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  // border-radius: 4px;
  align-items: center;
  & > span {
    margin-left: 0.5rem;
    font-weight: 600;
  }
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.upload-page__form-label {
  margin-bottom: 1rem;
}

.search-page {
  margin-top: 7rem;
  &__search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1rem 1rem;
    z-index: 99;
    height: 5rem;
    background-color: white;
  }

  &__center-container {
    z-index: -1;
    border-top: 1px solid #f1f1f1;
  }
}
