.gallery {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
}
.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.illus {
  border: 1.5px solid #ffd88e;
}

/* .horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
} */
